<h1>Приложение</h1>
	
	<p>
	Текущее время в твоем часовом поясе 
	<%= @current_time %><br>
	Самое время заняться текущими делами.
	</p>
	
	
	<hr>
	<p>
	Copyright - <%= Date.today.year %> the Alex Zi.
	</p>